$bg-primary: #171717;
$bg-secondary: #393E46;

$button-hover: #606875;

body {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 1.4;
    background: $bg-primary;
    color: #fff;
}

em {
    font-style: italic;
}

body,
h1,
h2,
h3 {
    font-weight: 300;
    margin-bottom: 1em;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 16px;
    margin-top: 1em;
}

table {
    text-align: left;
}

progress {
    width: 100%;
}

th,
td,
[type=text],
textarea {
    margin-right: 5px;
    padding: 3px 6px;
}

th {
    width: 10%;
    font-weight: bold;
    text-align: right;
    white-space: nowrap;
    vertical-align: middle;
}

[type=text],
textarea {
    width: 200px;
    padding: 5px;
    border: 1px solid $bg-secondary;
    border-radius: 3px;
    outline: 0;
}

textarea:focus {
    border-color: $button-hover;
    box-shadow: 0 0 5px $button-hover;
}

textarea {
    height: 100px;
    font-family: monospace;
    vertical-align: bottom;
}

button {
    margin: 3px;
    padding: 6px 12px;
    border: 0;
    border-radius: 3px;
    outline: 0;
    color: #fff;
    background-color: $bg-secondary;
}

button:focus {
    background: $button-hover;
}

button:hover {
    background: $button-hover;
}

button:active {
    background: $button-hover;
}

.chat-container {
    height: 480px;
    background: $bg-secondary;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message-container {
    padding:  5px 10px;
    text-align: right;
}

.message-input {
    border: 1px solid white;
    width: 100%;
}

.new-message {
    margin-bottom: 10px;
}