body {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 1.4;
    background: #171717;
    color: #fff;
}

em {
    font-style: italic;
}

body,
h1,
h2,
h3 {
    font-weight: 300;
    margin-bottom: 1em;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 16px;
    margin-top: 1em;
}

table {
    text-align: left;
}

progress {
    width: 100%;
}

th,
td,
[type=text],
textarea {
    margin-right: 5px;
    padding: 3px 6px;
}

th {
    width: 10%;
    font-weight: bold;
    text-align: right;
    white-space: nowrap;
    vertical-align: middle;
}

[type=text],
textarea {
    width: 200px;
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 3px;
    outline: 0;
}

textarea:focus {
    border-color: #eee;
    box-shadow: 0 0 5px #eee;
}

textarea {
    height: 100px;
    font-family: monospace;
    vertical-align: bottom;
}

button {
    margin: 3px;
    padding: 6px 12px;
    border: 0;
    border-radius: 3px;
    outline: 0;
    background-color: #eee;
}

button:focus {
    background: #eee;
}

button:hover {
    background: #eee;
}

button:active {
    background: #eee;
}
