.vplayer {
    margin: auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-align: center;
}

.section {
    margin: 20px auto;
    text-align: center;
    vertical-align: top;
}

.player-wrapper {
    width: 800px;
    height: 480px;
    pointer-events: none;
}

progress {
    width: '100%';
}

.react-player {
    background: rgba(0, 0, 0, .1);
}

.faded {
    color: rgba(0, 0, 0, .5);
}

.footer {
    margin: 5rem;
}
